<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//http://mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuzs.admin.mapper.UserMapper">
    <resultMap id="BASE_MAP" type="com.zhuzs.admin.entity.vo.UserVo">

    </resultMap>
    <sql id="BASE_COLUMN">
        id,
        name,
        age,
        email
    </sql>
    <!--  新增用户  -->
    <insert id="saveUser">
        insert into user(
            id,
            name,
            age,
            email
        )values(
            null,
            #{userDto.name},
            #{userDto.age},
            #{userDto.email}
        )
    </insert>

    <!--  查询用户列表 分页  -->
    <select id="listUser" resultType="com.zhuzs.admin.entity.vo.UserVo">
        select
        <include refid="BASE_COLUMN"/>
        from user
        <where>
            <if test="userDto.name != null and userDto.name != ''">
                -- 模糊查询，前置%则不走索引，会全表扫描
                name like CONCAT(#{userDto.name}, '%')
            </if>
        </where>
    </select>
</mapper>