<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//http://mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuzs.admin.mapper.UserMapper">
    <resultMap id="BASE_MAP" type="com.zhuzs.admin.entity.vo.UserVo">

    </resultMap>
    <sql id="BASE_COLUMN">
        id,
        name,
        age,
        email
    </sql>
    <insert id="saveUser">
        insert into User(
            id,
            name,
            age,
            email
        )values(
            null,
            #{userDto.name},
            #{userDto.age},
            #{userDto.email}
        )
    </insert>

    <select id="listUser" resultType="com.zhuzs.admin.entity.vo.UserVo">
        select
            <include refid="BASE_COLUMN"/>
        from User
    </select>
</mapper>